.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.252);
    padding: 10px;
}

.sidebar_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }