@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./normalize.css";
@import "@liveblocks/react-comments/styles.css";
@import "./comments.css";



html,
body {
  background: white;
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next {
  max-width: 100%;
  min-height: 100vh;
}

html.hide-cursor {
  cursor: none !important;
}

.button {
  background-color: #7af167;
  color: black;
  border-radius: 9999px;
  height: 2.5rem;
  padding: 0 20px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.button-secondary {
  background-color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-scrollbar="thin"] {
  scrollbar-width: thin;
}

[data-scrollbar="thin"]::-webkit-scrollbar {
  width: 10px;
}

[data-scrollbar="thin"]::-webkit-scrollbar-track {
  background: #f1f1f1;
}

[data-scrollbar="thin"]::-webkit-scrollbar-thumb {
  background: #888;
}

[data-scrollbar="thin"]::-webkit-scrollbar-thumb:hover {
  background: #555;
}
