.react-flow__node {
  &.selected {
    stroke: #0066ff;
    stroke-width: 2px;
    filter: brightness(1.1);
    background-color: rgba(255, 255, 0, 0.119);
  }
}

path.react-flow__edge-path {
  stroke-width: 5;
}

.react-flow__handle {
}

.react-flow__handle-top {
}

.react-flow__handle-right {
}

.react-flow__handle-bottom {
}

.react-flow__handle-left {
}

.react-flow__handle-connecting {
}

.react-flow__handle-valid {
  background-color: green;
}
